<nav class="sidebar-content nav flex-column">
  <img
    class="sidebar-content__icon-estudeme"
    src="../../../assets/img/LogoMakr-2tFfwC.png"
    alt="Logo Estudeme"
  />

  <section class="sidebar-content__section-division">
    <img
      class="sidebar-content__icon"
      src="../../../assets/svg/people.svg"
      alt="Ícone estudantes"
    />
    <label class="sidebar-content__description" for="">Alunos</label>
  </section>

  <section class="sidebar-content__section-division">
    <img
      class="sidebar-content__icon"
      src="../../../assets/svg/folder.svg"
      alt="Ícone documentos"
    />
    <label class="sidebar-content__description" for="">Documentos</label>
  </section>

  <section class="sidebar-content__section-division">
    <img
      class="sidebar-content__icon"
      src="../../../assets/svg/file-text.svg"
      alt="Ícone relatórios"
    />
    <label class="sidebar-content__description" for="">Relatórios</label>
  </section>

  <section class="sidebar-content__section-division">
    <img
      class="sidebar-content__icon"
      src="../../../assets/svg/gear.svg"
      alt="Ícone configurações"
    />
    <label class="sidebar-content__description" for="">Configurações</label>
  </section>
</nav>
