<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <app-header [title]="'Alunos'"></app-header>
      <div class="container">
        <table class="students table">
          <tbody>
            <tr class="students__profile-row">
              <td>
                <img
                  class="students__profile-image"
                  src="../../../assets/img/naruto.jpg"
                  alt="Naruto"
                />
              </td>
              <td class="students__profile-name">Naruto Uzumaki</td>
            </tr>
            <tr class="students__profile-row">
              <td>
                <img
                  class="students__profile-image"
                  src="../../../assets/img/kakashi.png"
                  alt="Kakashi"
                />
              </td>
              <td class="students__profile-name">Kakashi Hatake</td>
            </tr>
            <tr class="students__profile-row">
              <td>
                <img
                  class="students__profile-image"
                  src="../../../assets/img/gaara.jpg"
                  alt="Gaara"
                />
              </td>
              <td class="students__profile-name">Gaara</td>
            </tr>
            <tr class="students__profile-row">
              <td>
                <img
                  class="students__profile-image"
                  src="../../../assets/img/rocklee.png"
                  alt="Rock Lee"
                />
              </td>
              <td class="students__profile-name">Rock Lee</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
