<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <app-header [title]="'Alunos'"></app-header>
      <div class="container">
        <div *ngIf="!loading" class="scroll-table">
          <table class="students table">
            <tbody>
              <div *ngFor="let students of studentsList; let last = last">
                <a
                  [routerLink]="'/documents'"
                  (click)="passStudentName(students.nome)"
                >
                  <tr
                    class="students__profile-row"
                    [ngClass]="{ 'last-child': last }"
                  >
                    <img
                      class="students__profile-image"
                      src="../../../assets/svg/person-square.svg"
                      alt="Ícone aluno"
                    />
                    <td class="students__profile-name">{{ students.nome }}</td>
                  </tr>
                </a>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>
