<app-sidebar [route]="'/documents'"></app-sidebar>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <app-header [title]="'Documentos'"></app-header>
      <div class="container student-docs">
        <section class="student-docs__head">
          <img
            class="student-docs__head__image"
            src="../../../assets/svg/person-square.svg"
            alt="Imagem alunos"
          />
          <h4 class="student-docs__head__name">
            {{ globalVariable?.studentNameGlobal }}
          </h4>
        </section>

        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="customFile"
            (change)="onChange($event)"
          />
          <label class="custom-file-label" for="customFile" id="customFileLabel"
            >Choose file</label
          >
        </div>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onUpload()"
          [disabled]="!files"
        >
          Upload
        </button>

        <section class="student-docs__title">
          <h2 class="student-docs__title__main-title">Upload de atividades</h2>
          <section class="student-docs__title__name">
            <select class="form-select student-docs__title__name__class">
              <option selected>Português</option>
              <option value="1">Matemática</option>
            </select>
            <label></label>
          </section>
        </section>

        <section class="student-docs__docs-button">
          <button>Upload de arquivo</button>
          <button>Criar atividade</button>
        </section>

        <div class="student-docs__scroll-table">
          <table class="table">
            <tbody>
              <tr class="student-docs__scroll-table__row">
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/file-earmark-excel.svg"
                    alt="Excel ícone"
                  />
                </td>
                <td>Nome do arquivo</td>
                <td>12/06/2022</td>
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/download.svg"
                    alt="Download ícone"
                  />
                </td>
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/trash.svg"
                    alt="Download ícone"
                  />
                </td>
              </tr>
              <tr class="student-docs__scroll-table__row">
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/file-earmark-word.svg"
                    alt="Word ícone"
                  />
                </td>
                <td>Nome do arquivo</td>
                <td>12/06/2022</td>
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/download.svg"
                    alt="Download ícone"
                  />
                </td>
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/trash.svg"
                    alt="Download ícone"
                  />
                </td>
              </tr>
              <tr class="student-docs__scroll-table__row">
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/file-pdf.svg"
                    alt="PDF ícone"
                  />
                </td>
                <td>Nome do arquivo</td>
                <td>12/06/2022</td>
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/download.svg"
                    alt="Download ícone"
                  />
                </td>
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/trash.svg"
                    alt="Download ícone"
                  />
                </td>
              </tr>
              <tr class="student-docs__scroll-table__row">
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/file-earmark-excel.svg"
                    alt="Excel ícone"
                  />
                </td>
                <td>Nome do arquivo</td>
                <td>12/06/2022</td>
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/download.svg"
                    alt="Download ícone"
                  />
                </td>
                <td>
                  <img
                    class="student-docs__scroll-table__row__image"
                    src="../../../assets/svg/trash.svg"
                    alt="Download ícone"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
