@import "../../shared/scss/main-content.scss";

.activity {
  height: 427px;
  overflow-y: auto;

  &__questions-blocks {
    margin-bottom: 20px;
  }

  &__blocks {
    margin-left: 30px;
    margin-top: -25px;
  }

  &__bold-font {
    font-weight: bold;
  }
}
