@import "../../shared/scss/main-content.scss";

.activity {
  height: 427px;
  overflow-y: auto;

  &__questions-blocks {
    margin-bottom: 20px;
  }

  &__blocks {
    margin-left: 30px;
    margin-top: -25px;
  }

  &__bold-font {
    font-weight: bold;
  }

  // &__forms {
  //   margin-bottom: 40px;
  // }

  // &__question {
  //   margin-bottom: 15px;
  //   width: 500px;
  // }

  // &__sizing {
  //   width: 300px;
  // }

  // &__alternative {
  //   width: 30px;
  //   display: grid;
  // }

  // &__answer-sizing{
  //   width: 450px;
  // }

  // &__correct-answer{
  //   width: 165px;
  //   display: grid;
  // }

  // &__removeButton{
  //   width: 50px;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }

  // &__button {
  //   width: 41px;
  //   display: block;
  //   margin-bottom: 25px;
  //   background-color: #ffffff;
  //   color: $green-estudeme;
  //   font-size: 20px;
  //   font-weight: bold;
  //   border: 3px solid $green-estudeme;
  //   border-radius: 10px;
  //   padding: 2px;
  // }

  // &__button:hover {
  //   background-color: $green-estudeme;
  //   color: #ffffff;
  // }
}
