@import "../../shared/scss/reset.scss";
@import "../../shared/scss/variables.scss";

.content {
  padding: 30px;
  height: 100%;

  .col-md-6 {
    height: 100% !important;
  }

  .logo-login {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
  }

  .login {
    margin: 0 auto;
    max-width: 375px;
    min-width: 260px;

    &__input-label {
      display: flex;
      margin-bottom: 70px;
    }

    &__login-button {
      width: 260px;
      display: block;
      margin: 0 auto;
      margin-bottom: 45px;
      background-color: #ffffff;
      color: $green-estudeme;
      font-weight: bold;
      border: 3px solid $green-estudeme;
      border-radius: 10px;
    }

    &__login-button:hover {
      background-color: $green-estudeme;
      color: #ffffff;
    }
  }
}
