<div class="row content">
  <div class="col-md-6 form-side">
    <section class="centralize-content signup-content">
      <img
        class="logo-login"
        src="../../../assets/img/LogoMakr-2tFfwC.png"
        alt="Logo Estudeme"
      />
      <div class="login form-group">
        <form class="login__radio-button">
          <section class="radio-input">
            <label class="mb-2"> Selecione o tipo de cadastro: </label>
            <div class="form-check">
              <input
                #professor
                type="radio"
                name="personType"
                id="professor"
                value="professor"
                (change)="onItemChangePersonType(professor.value)"
              />
              <label class="form-check-label ml-1" for="professor">
                Professor
              </label>
            </div>
            <div class="form-check">
              <input
                #aluno
                type="radio"
                name="personType"
                id="aluno"
                value="aluno"
                (change)="onItemChangePersonType(aluno.value)"
              />
              <label class="form-check-label ml-1" for="aluno"> Aluno </label>
            </div>
          </section>

          <input
            class="login__input-label form-control"
            type="email"
            placeholder="E-mail"
            [(ngModel)]="email"
            name="email"
            required
          />
          <input
            class="login__input-label form-control"
            type="nome"
            placeholder="Nome completo"
            [(ngModel)]="nome"
            name="nome"
            required
          />
          <input
            class="login__input-label form-control"
            type="password"
            placeholder="Senha"
            [(ngModel)]="password"
            name="password"
            required
          />
          <input
            class="login__input-label form-control"
            type="date"
            placeholder="Data de nascimento"
            [(ngModel)]="bornDate"
            name="date"
            required
          />

          <section *ngIf="personType === 'professor'" class="radio-input">
            <label class="mb-2 radio-input"> Selecione sua disciplina: </label>
            <div class="form-check" *ngFor="let subjects of subjectList">
              <input
                type="radio"
                name="subject"
                id="subjects.idDisciplina"
                value="subjects.nome"
                (change)="onItemChangeSubjects(subjects.idDisciplina)"
              />
              <label class="form-check-label ml-1"> {{ subjects.nome }} </label>
            </div>
          </section>

          <section *ngIf="(personType === 'aluno' || idDisciplina)" class="radio-input">
            <label class="mb-2 radio-input"> Selecione sua escola: </label>
            <div class="form-check" *ngFor="let schools of schoolsList">
              <input
                type="radio"
                name="schools"
                id="schools.idTurma"
                value="schools.nome"
                (change)="onItemChangeSchools(schools.idInstituicao)"
              />
              <label class="form-check-label ml-1"> {{ schools.nome }} </label>
            </div>
          </section>

          <section *ngIf="personType === 'aluno' && idInstituicao" class="radio-input">
            <label class="mb-2 radio-input">
              Selecione seu período escolar atual:
            </label>
            <div class="form-check">
              <input
                #ano1
                type="radio"
                name="scholarYear"
                id="ano1"
                value="1"
                (change)="onItemChangeScholarYear(ano1.value)"
              />
              <label class="form-check-label ml-1"> 1° Ano </label>
            </div>
            <div class="form-check">
              <input
                #ano2
                type="radio"
                name="scholarYear"
                id="ano2"
                value="2"
                (change)="onItemChangeScholarYear(ano2.value)"
              />
              <label class="form-check-label ml-1"> 2° Ano </label>
            </div>
            <div class="form-check">
              <input
                #ano3
                type="radio"
                name="scholarYear"
                id="ano3"
                value="3"
                (change)="onItemChangeScholarYear(ano3.value)"
              />
              <label class="form-check-label ml-1"> 3° Ano </label>
            </div>
          </section>

          <section *ngIf="personType === 'aluno' && scholarYear && class?.ano === scholarYear" class="radio-input">
            <label class="mb-2 radio-input"> Selecione sua turma: </label>
            <div class="form-check">
              <input
                type="radio"
                name="class"
                id="class.idTurma"
                value="class.nome"
                (change)="onItemChangeClasses(class.idTurma)"
              />
              <label class="form-check-label ml-1"> {{ class.nome }} </label>
            </div>
          </section>
        </form>

        <button
          class="login__login-button btn btn-primary"
          type="submit"
          (click)="signUp()"
        >
          Cadastrar-se
        </button>
        <button
          class="login__login-button btn btn-primary"
          type="submit"
          (click)="goToLoginPage()"
        >
          Fazer Login
        </button>
      </div>
    </section>
  </div>

  <div class="col-md-6">
    <app-side-image></app-side-image>
  </div>
</div>
