<div class="row content">
  <div class="col-md-6">
    <img
      class="logo-login"
      src="../../../assets/img/LogoMakr-2tFfwC.png"
      alt="Logo Estudeme"
    />
    <form action="">
      <div class="login form-group">
        <input
          class="login__input-label form-control"
          type="email"
          placeholder="E-mail"
          required
        />
        <input
          class="login__input-label form-control"
          type="password"
          placeholder="Senha"
          required
        />
        <button class="login__login-button btn btn-primary" 
          type="submit"
          (click)="goToStudentsHomePage()">Login</button>
        <button class="login__login-button btn btn-primary" type="submit" (click)="goToSignUpPage()">Cadastrar-se</button>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <div class="side-logo">
      <img
        class="side-logo__logo"
        src="../../../assets/img/LogoMakr-2tFfwC.png"
        alt="Logo Estudeme"
      />
    </div>
  </div>
</div>
