<app-sidebar [route]="'/test'"></app-sidebar>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <app-header [title]="'Prova'"></app-header>
      <div class="container">
        <p class="test__main-message">
          Responda as questões abaixo para podermos analisar suas possíveis
          dificuldades
        </p>
        <div *ngFor="let questions of questionsList">
          <p>{{ questions.enunciado }}</p>
          <div class="form-check" *ngFor="let questions of questions.alternativas | keyvalue">
            <input
              type="radio"
              name="flexRadioDefault"
              id="alternatives"
              value="alternatives"
            />
            <label class="form-check-label ml-1" for="alternatives">
              {{ questions.value }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
